.sorting.title, .title, .text, .author, .commenting{
    width: 200px!important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}
.sorting.author, .author, .commenting{
    width: 50px!important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30px;
}